<div class="modal fade" id="imagePopup" tabindex="-1" role="dialog" aria-labelledby="imagePopupTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="imagePopupTitle">Image URL</h4>
            </div>
            <div class="modal-body">
                <label>URL</label>
                <textarea style="repeat:vertical" ng-model="options.url" placeholder="http://www.domain.com/image.png"></textarea>
                <div class="checkbox-field">
                    <label style="display: inline-block;margin-right: 10px;">Repeat: </label>
                    <input type="checkbox" ng-model="options.repeat"></input>
                </div>
                <div class="checkbox-field">
                    <label>Center: </label>
                    <input type="checkbox" ng-model="options.center"></input>
                </div>
                <div class="checkbox-field">
                    <label>Fixed: </label>
                    <input type="checkbox" ng-model="options.fixed"></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="close()">Save</button>
            </div>
        </div>
    </div>
</div>