<div class="modal fade" id="updateListPopup" tabindex="-1" role="dialog" aria-labelledby="imagePopupTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="savePopupTitle">Update Item</h4>
            </div>
            <div class="modal-body">
                <div class="field">
                    <input ng-enter="close()" ng-model="text" placeholder="List Item"></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="close()">Save</button>
            </div>
        </div>
    </div>
</div>